<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="cntr">
    <!-- <div class="row"> -->
    <div style="margin-bottom: 2px;">
        <div style="text-align: center; width: 100%; margin-bottom: 30px;">
            <p style="font-size: large; font-weight: bold;">
                Employee List
            </p>
        </div>
    </div>
    <div class="row row-xs align-items-center mb-5">
        <div class="col-lg-2">
            <a routerLink="/create" class="btn btn-sm btn-primary">Create Employee</a>
        </div>
        <div class="col-lg-4">
            Show &nbsp; <input type="number" class="" name="count" size="3" [(ngModel)]="setJumlahData"> &nbsp;
            data &nbsp; <button class="btn btn-sm btn-primary" type="submit" (click)="searchAndLimitData()">Set</button>
        </div>
        <div class="col-lg-6" style="position: relative; left: 7%;">
            <form (ngSubmit)="search()">
                <input class="" name="firstName" size="20" type="text" placeholder="First Name"
                    [(ngModel)]="searchKeyword" />&nbsp;
                <!-- <input class="" name="status" type="text" size="20" placeholder="Status Pernikahan"
                    [(ngModel)]="searchStatus" />  -->
                <select  style='height: 25px;width: 125px;' name="marital_status" id="marital_status" 
                    [(ngModel)]="searchStatus" required>
                    <option value disabled="-">- Pilih -</option>
                    <option value="Lajang">Lajang</option>
                    <option value="Menikah">Menikah</option>
                    <option value="Janda">Janda</option>
                    <option value="Duda">Duda</option>
                </select>
                &nbsp;
                <button class="btn btn-sm btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="table-responsive-lg table-container">
        <table class="table table-bordered table-hover table-condensed tablez">
            <tr style="background-color: rgb(224, 198, 255);">
                <th (click)="sortColumn('userName')">Username <mat-icon class="icon-rounded">sort</mat-icon></th>
                <th (click)="sortColumn('firstName')">First Name<mat-icon class="icon-rounded">sort</mat-icon></th>
                <th>Last Name</th>
                <th>Email</th>
                <th (click)="sortColumn('birthDate')">Birth Date<mat-icon class="icon-rounded">sort</mat-icon></th>
                <th>Basic Salary</th>
                <th>Status</th>
                <th>Group</th>
                <th (click)="sortColumn('description')">Description<mat-icon class="icon-rounded">sort</mat-icon></th>
                <th style="min-width: 200px;">Action</th>
            </tr>
            <tbody>
                <tr *ngFor="let employee of displayedEmployees">
                    <td>{{ employee.userName }}</td>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ konversiFormatTanggal(employee.birthDate) }}</td>
                    <td>{{ employee.basicSalary | currency:'Rp ':'symbol':'1.2-2' }}</td>
                    <td>{{ employee.marital_status }}</td>
                    <td>{{ employee.emp_group }}</td>
                    <td>{{ konversiFormatTanggal(employee.description) }}</td>
                    <td style="min-width: 200px;">
                        <a routerLink="/show/{{ employee.id }}" class="btn btn-sm btn-primary">Show</a> &nbsp;
                        <a (click)="loadEmployeeDetails(employee.id)" class="btn btn-sm btn-warning">Edit</a> &nbsp;
                        <a (click)="delEmployee(employee.id)" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="totalItems > 9">
            <button class="btn btn-sm btn-success" (click)="onPageChange(currentPage - 1)"
                [disabled]="currentPage === 1">Previous</button>&nbsp;&nbsp;
            <span class="badge bg-secondary">{{ currentPage }} / {{ (totalPages) }}</span>&nbsp;&nbsp;
            <button class="btn btn-sm btn-success" (click)="onPageChange(currentPage + 1)"
                [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- </div> -->
</div>