::ng-deep .snackbar-delete {
  border-radius: 70%;
  --mdc-snackbar-container-color: red;
}

::ng-deep .snackbar-edit {
  border-radius: 70%;
  --mdc-snackbar-container-color: yellow;
}

::ng-deep .snackbar-delete button {
  border-radius: 10%;
  background-color: white;

  --mdc-mdc-snack-bar-button-color: #fff;
}

::ng-deep .snackbar-edit button {
  border-radius: 10%;
  background-color: white;
  color: white;
  --mdc-mdc-snack-bar-button-color: yellow;
}

::ng-deep body {
  background-image: url('/assets/img/cilik.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-attachment: fixed;
  background-position: center;
  /* --table-width: 100%; */
}

.table-container {
  overflow-y: auto;
  max-height: 600px;
}

.tablez {
  width: 100%;
  font-size: smaller;
}

table,
th,
td {
    border: 0px solid black;
    font-size: small;
}

th,
td {
    padding: 10px;
}