<style>
    table,
    th,
    td {
        border: 0px solid black;
        /* border-collapse: collapse; */
    }

    th,
    td {
        padding: 10px;
    }
</style>
<div class="container">
    <!-- <div class="row"> -->
    <div style="margin-bottom: 2px;">
        <!--  -->
        <table width="100%" border="0">
            <tr>
                <td>
                    <p style="font-size: large; font-weight: bold;">
                        Employee List
                    </p>
                    <a routerLink="/create" class="btn btn-sm btn-primary">Create Employee</a>
                </td>
                <td style="float: right;">
                    <form (ngSubmit)="search()">
                <td style="float: right; width: 100%;">
                    <input class="" name="firstName" size="20" type="text" placeholder="Nama"
                        [(ngModel)]="searchKeyword" /> &nbsp;&nbsp;
                    <input class="" name="status" type="text" size="20" placeholder="Status Pernikahan"
                        [(ngModel)]="searchStatus" /> <br><br>
                    <button style="float: right;" class="btn btn-sm btn-success" type="submit">Search</button> <br>
                </td>
                </form>
                </td>
            </tr>
        </table>
    </div>
    <table class="" border="1">
        <tr>

            <td>Show &nbsp; <input type="number" class="" name="count" size="3" [(ngModel)]="setJumlahData"> &nbsp;
                data</td>
            <td><button style="float: right;" class="btn btn-sm btn-primary" type="submit"
                    (click)="searchAndLimitData()">Set</button></td>
        </tr>
    </table>
    <br>
    <div class="table-responsive-lg">
        <table class="table table-bordered table-hover" border="1" width="100%">
            <tr style="background-color: rgb(211, 250, 237);">
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Basic Salary</th>
                <th>Status</th>
                <th>Group</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let employee of displayedEmployees" style="padding: 2 4 4 5;">
                <td>{{ employee.userName }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.birthDate }}</td>
                <td>{{ employee.basicSalary }}</td>
                <td>{{ employee.marital_status }}</td>
                <td>{{ employee.emp_group }}</td>
                <td>{{ employee.description }}</td>
                <td>
                    <a (click)="loadEmployeeDetails(employee.id)" class="btn btn-sm btn-warning">Edit</a>
                    <!-- <a (click)="load()" class="btn btn-sm btn-warning">Edit</a> -->
                    <!-- <a (click)="loadEmployeeDetails(employee.id)" class="btn btn-sm btn-primary">Show</a> -->
                    <a routerLink="/show/{{ employee.id }}" class="btn btn-sm btn-primary">Show</a>
                    <!-- <a (click)="del()" class="btn btn-sm btn-danger">Delete</a> -->
                    <a (click)="delEmployee(employee.id)" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        </table>
        <div *ngIf="totalItems > 9">
            <button class="btn btn-sm btn-success" (click)="onPageChange(currentPage - 1)"
                [disabled]="currentPage === 1">Previous</button>&nbsp;&nbsp;
            <span class="badge bg-secondary">{{ currentPage }} / {{ (totalPages) }}</span>&nbsp;&nbsp;
            <button class="btn btn-sm btn-success" (click)="onPageChange(currentPage + 1)"
                [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- </div> -->
</div>