::ng-deep .snackbar-delete {
  border-radius: 70%;
  --mdc-snackbar-container-color: red;
}

::ng-deep .snackbar-edit {
  border-radius: 70%;
  --mdc-snackbar-container-color: yellow;
}

::ng-deep .snackbar-delete button {
  border-radius: 10%;
  background-color: white;

  --mdc-mdc-snack-bar-button-color: #fff;
}

::ng-deep .snackbar-edit button {
  border-radius: 10%;
  background-color: white;
  color: white;
  --mdc-mdc-snack-bar-button-color: yellow;
}

::ng-deep body {
  background-image: url('/assets/img/cilik.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-attachment: fixed;
  background-position: center;
  /* --table-width: 100%; */
}

.cntr{
  width: 89%;
  position: relative;
  left: 3%;
}

.table-container {
  overflow-y: auto;
  /* max-width: 200%; */
  max-height: 600px;
  width: 1280px;
}

.tablez{
  width: 100%;
  font-size: smaller;
  /* border: 1px solid rgb(180, 174, 174); */
}

th,td{
  padding: 10px;
  border: 1px solid rgb(180, 174, 174);
}

::ng-deep .dd{
  border: 1px solid black;
}

.icon-rounded {
  /* border-radius: 50%; */
  background-color: rgb(224, 198, 255);
  padding-top: 0px;
  padding-bottom: 5px;
  /* background-size: 20px 20px; */
  float: right;
  /* position: relative;
  left: 25%; */
  cursor: pointer;
}

.btn.btn-sm.btn-primary {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}

.btn.btn-sm.btn-warning {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}

.btn.btn-sm.btn-danger {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}

.btn.btn-sm.btn-success {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}