<nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color:rgb(17, 22, 162) !important;">
  <div class="container-fluid" style="float: right !important;">
    <a class="navbar-brand" href="#">
      <h6 style="color: white;">Employee Management</h6>
    </a>
    <a class="btn btn-sm btn-warning" (click)="logout()">Logout</a>
    <!-- <button type="button" class="btn btn-sm btn-danger" (click)="logout()"> -->
    <!-- Logout
    </button> -->
  </div>
</nav>
<div class="clearfix" style="margin-top: 5%;"></div>

<router-outlet></router-outlet>