<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="row">
                    <div class="col-md-12">
                        <label for="userName">Username:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="userName" formControlName="userName" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="firstName" formControlName="firstName" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="lastName">Last Name:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="lastName" formControlName="lastName" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="email" formControlName="email" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="birthDate">Birth Date:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <mat-form-field class="example-full-width">
                            <input matInput [min]="minDate" [max]="maxDate" formControlName="birthDate"
                                [matDatepicker]="picker" name="birthDate" placeholder="Choose a date"
                                [(ngModel)]="selectedBirthDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="lastName">Basic Salary:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="number" id="basicSalary" formControlName="basicSalary" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="marital_status">Marital Status:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <select name="marital_status" id="marital_status" class="form-control"
                            formControlName="marital_status" [(ngModel)]="selectedStatus" required>
                            <option value="" disabled>- Pilih -</option>
                            <option value="Lajang">Lajang</option>
                            <option value="Menikah">Menikah</option>
                            <option value="Janda">Janda</option>
                            <option value="Duda">Duda</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="group">Group:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <select name="emp_group" id="emp_group" class="form-control" formControlName="emp_group"
                            [(ngModel)]="selectedGroup" required>
                            <option value="" disabled>- Pilih -</option>
                            <option value="PT AOC">PT AOC</option>
                            <option value="PT ASA">PT ASA</option>
                            <option value="PT TAMIL">PT TAMIL</option>
                            <option value="PT ROMBA">PT ROMBA</option>
                            <option value="PT OADI">PT OADI</option>
                            <option value="PT SLANK">PT SLANK</option>
                            <option value="PT DEWA">PT DEWA</option>
                            <option value="PT ABC">PT ABC</option>
                            <option value="PT AOT">PT AOT</option>
                            <option value="PT PHC">PT PHC</option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="description">Description:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="description" formControlName="description" class="form-control"
                            required="required" />
                    </div>
                </div>
                <!-- <table class="table" border="0">
                    <tr>
                        <td style="float: right;">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </td>
                        <td></td>
                        <td><a routerLink="/employee" class="btn btn-sm btn-secondary">Cancel</a></td>
                    </tr>
                </table> -->
                <div style="position: absolute; right: 50%; left: 45%;">
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
                <div style="position: absolute; right: 50%; left: 50%;">
                    <a routerLink="/employee" class="btn btn-sm btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    
</div>
