<div class="container">
    <div style="margin-bottom: 2px;">
        <div style="text-align: center; width: 100%; margin-bottom: 30px;">
            <p style="font-size: large; font-weight: bold;">
                Create Employee
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 mb-5">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="userName">Username:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="userName" formControlName="userName" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="firstName" formControlName="firstName" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="lastName">Last Name:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="text" id="lastName" formControlName="lastName" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="email">Email:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="email" id="email" formControlName="email" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="birthDate">Birth Date:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <mat-form-field class="mat-select-outline"appearance="fill">
                            <input matInput [min]="minDate" [max]="maxDate" formControlName="birthDate"
                                [matDatepicker]="picker" name="birthDate" placeholder="Choose a date"
                                [(ngModel)]="selectedBirthDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="lastName">Basic Salary:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <input type="number" id="basicSalary" formControlName="basicSalary" class="form-control"
                            required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="marital_status">Marital Status:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <select name="marital_status" id="marital_status" class="form-control"
                            formControlName="marital_status" [(ngModel)]="selectedStatus" required>
                            <option value="" disabled>- Pilih -</option>
                            <option value="Lajang">Lajang</option>
                            <option value="Menikah">Menikah</option>
                            <option value="Janda">Janda</option>
                            <option value="Duda">Duda</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="group">Group:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <mat-form-field appearance="fill" class="mat-select-outline">
                            <mat-label>Group</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Group" matInput
                                [formControl]="empGroupCtrl" [matAutocomplete]="auto" [(ngModel)]="selectedGroup">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                @for (option of filteredOptions | async; track option) {
                                <mat-option [value]="option">{{option}}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 mb-1">
                        <label for="description">Description:</label>
                    </div>
                    <div class="col-md-12 mb-3">
                        <mat-form-field  class="mat-select-outline" appearance="fill">
                            <input matInput [min]="minDate" [max]="maxDate" formControlName="description"
                                [matDatepicker]="picker1" name="description" placeholder="Choose a date"
                                [(ngModel)]="selectedDescription" required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <table class="table" border="0">
                    <tr>
                        <td style="float: right;">
                            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                        </td>
                        <td></td>
                        <td><a routerLink="/employee" class="btn btn-sm btn-secondary">Cancel</a></td>
                    </tr>
                </table> -->
                <div style="position: absolute; right: 50%; left: 45%;">
                    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </div>
                <div style="position: absolute; right: 50%; left: 50%;">
                    <a routerLink="/employee" class="btn btn-sm btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>