
::ng-deep .snackbar-sukses {
    border-radius: 70%;
    --mdc-snackbar-container-color: rgb(97, 205, 97);
    /* --mdc-snackbar-text-color: white; */
  }

  ::ng-deep .snackbar-delete {
    border-radius: 70%;
    --mdc-snackbar-container-color: red;
  }

  ::ng-deep .snackbar-delete button{
    border-radius: 10%;
    background-color: white;
    
    --mdc-mdc-snack-bar-button-color: #fff;
  }
  
  ::ng-deep .snackbar-sukses button{
    border-radius: 10%;
    background-color: white;
    color: white;
    --mdc-mdc-snack-bar-button-color: green;
  }

  ::ng-deep body {
    background-image: url('/assets/img/cilik.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-attachment: fixed;
    background-position: center;
    /* --table-width: 100%; */
  }

  ::ng-deep .mat-primary .mat-mdc-select-arrow{
    color: blue;
  }
