<div class="container">
    <div style="margin-bottom: 2px;">
        <div style="text-align: center; width: 100%; margin-bottom: 30px;">
            <p style="font-size: large; font-weight: bold;">
                Employee List
            </p>
        </div>
    </div>
    <div class="row" *ngIf="employee" style="font-size: smaller ;">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="pd-30 pd-sm-40 bg-gray-100">
                        <div class="row row-xs align-items-center mg-b-20">
                            <!-- <table class="table table-bordered table-hover" border="1" width="100%">
                            <tr style="background-color: rgb(224, 198, 255);">
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Birth Date</th>
                                <th>Basic Salary</th>
                                <th>Status</th>
                                <th>Group</th>
                                <th>Description</th>
                            </tr>
                            <tbody>
                                <tr style="padding: 2 4 4 5;">
                                    <td>{{ employee.userName }}</td>
                                    <td>{{ employee.firstName }}</td>
                                    <td>{{ employee.lastName }}</td>
                                    <td>{{ employee.email }}</td>
                                    <td>{{ employee.birthDate }}</td>
                                    <td>{{ employee.basicSalary | currency:'Rp ':'symbol':'1.2-2' }}</td>
                                    <td>{{ employee.marital_status }}</td>
                                    <td>{{ employee.emp_group }}</td>
                                    <td>{{ employee.description }}</td>
                                </tr>
                            </tbody>
                        </table> -->
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">User Name</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.userName }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">First Name</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.firstName }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Last Name</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.lastName }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Email</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.email }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Birth Date</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.birthDate }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Basic Salary</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.basicSalary | currency:'Rp ':'symbol':'1.2-2' }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Marital Status</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.marital_status }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Employee Group</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.emp_group }}
                                </div>
                            </div>
                            <div class="row row-xs align-items-center mg-b-20">
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">Description</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="form-label mg-b-0">:</label>
                                </div>
                                <div class="col-md-8 mg-t-5 mg-md-t-0">
                                    {{ employee.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="float: right;">
        <!-- <a routerLink="/employee" class="btn btn-sm btn-secondary">OK</a> -->
        <a (click)="goBack()" class="btn btn-sm btn-primary">OK</a>
    </div>
</div>