<style>
    table,
    th,
    td {
        border: 0px solid black;
        /* border-collapse: collapse; */
    }

    th,
    td {
        padding: 10px;
    }
</style>
<div class="container">
    <div style="margin-bottom: 2px;">
        <table width="100%" border="0">
            <tr>
                <td>
                    <p style="font-size: large; font-weight: bold;">
                        Employee List
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>
    <br>
    <div class="row" *ngIf="employee" >
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row row-xs align-items-center mg-b-20">
                        <table class="table table-bordered table-hover" border="1" width="100%">
                            <tr style="background-color: rgb(211, 250, 237);">
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Birth Date</th>
                                <th>Basic Salary</th>
                                <th>Status</th>
                                <th>Group</th>
                                <th>Description</th>

                            </tr>
                            <tr style="padding: 2 4 4 5;">
                                <td>{{ employee.userName }}</td>
                                <td>{{ employee.firstName }}</td>
                                <td>{{ employee.lastName }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.birthDate }}</td>
                                <td>{{ employee.basicSalary }}</td>
                                <td>{{ employee.marital_status }}</td>
                                <td>{{ employee.emp_group }}</td>
                                <td>{{ employee.description }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="float: right;">
        <a routerLink="/employee" class="btn btn-sm btn-secondary">Back</a>
    </div>
</div>